.app-sidenav {
  min-width: 230px;
}

.app-toolbar-filler {
  flex: 1 1 auto;
}

.app-content {
  height: 100%;
}

/deep/ .app-dark-theme .mat-drawer-backdrop.mat-drawer-shown{
	background-color: rgba(0, 0, 0, 0.3)
}

.settings-icon-div {
  cursor: pointer;
  margin-left: auto;
  margin-right: 0px;
  padding-top: 9px;
}

.settings-icon:hover {
  color: #FFF9C4;
}

.toolbar-title{
  cursor: default;
}

.top-row-elements {
  width: 46%;
  padding-right: 2%;
}

mat-card {
  border-radius: 0px;
}



.write-protection-checkbox {
  
}

.grid-tile {
  width: 33%;
}