.app-sidenav {
  min-width: 230px;
}

.app-toolbar-filler {
  flex: 1 1 auto;
}

.app-content {
  height: 100%;
}

/deep/ .app-dark-theme .mat-drawer-backdrop.mat-drawer-shown{
	background-color: rgba(0, 0, 0, 0.3)
}

.settings-icon-div {
  cursor: pointer;
  margin-left: auto;
  margin-right: 0px;
  padding-top: 9px;
}

.settings-icon:hover {
  color: #FFF9C4;
}

.toolbar-title {
  cursor: default;
}

.top-row {
  width: 100%;
}

.top-row-elements {
  width: 45%;
  padding-right: 1%;
}

.grid-tile {
  width: 33%;
}

mat-card {
  border-radius: 0px;
  padding: 20px;
}

mat-grid-list {
  width: 100%;
}

@media (max-width: 600px)  {
  mat-toolbar {
    height: 64px;
  }

  /deep/.mat-toolbar-row {
    height: 64px !important;
  }
}

@media (max-width: 405px) {
  .top-row-elements {
    width: 43%;
    padding-right: 1%;
  }
}