<div [class.app-dark-theme]="true">

    <!-- The Navigation button at the top of the application -->
    <mat-toolbar color="primary">
        <div class="toolbar-title" name="toolbar-title">
            SendMix.com
        </div>

        <div class="settings-icon-div" (click)="openSettings()">
            <mat-icon class="settings-icon">
                settings
            </mat-icon>
        </div>
    </mat-toolbar>

    <!-- Main content of the website -->
    <div class="app-content">
        <mat-card>
            <mat-form-field class="top-row-elements">
                <input matInput type="text" placeholder="Mix Title" [(ngModel)]="mixTitle"/>
                <button mat-button *ngIf="mixTitle" matSuffix mat-icon-button aria-label="Clear" (click)="mixTitle=''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
            
            <mat-form-field class="top-row-elements">
                <input matInput type="text" placeholder="Mix Author" [(ngModel)]="mixAuthor"/>
                <button mat-button *ngIf="mixAuthor" matSuffix mat-icon-button aria-label="Clear" (click)="mixAuthor=''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>

            <mat-checkbox class="top-row-elements" [(ngModel)]="writeProtection">
                Write-Protection
            </mat-checkbox>
            <br><br>
                    
            <mat-grid-list cols="3" rowHeight="4:1">
                <mat-grid-tile>Link</mat-grid-tile>
                <mat-grid-tile>Title</mat-grid-tile>
                <mat-grid-tile>Comment</mat-grid-tile>
            </mat-grid-list>

            <mat-grid-list cols="3" rowHeight="4:1">
                <mat-grid-tile>
                    <mat-form-field class="example-form-field">
                        <input matInput type="text" [(ngModel)]="mixTitle"/>
                        <button mat-button *ngIf="mixTitle" matSuffix mat-icon-button aria-label="Clear" (click)="mixTitle=''">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-form-field class="example-form-field">
                        <input matInput type="text" [(ngModel)]="mixTitle"/>
                        <button mat-button *ngIf="mixTitle" matSuffix mat-icon-button aria-label="Clear" (click)="mixTitle=''">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-form-field class="example-form-field">
                        <input matInput type="text" [(ngModel)]="mixTitle"/>
                        <button mat-button *ngIf="mixTitle" matSuffix mat-icon-button aria-label="Clear" (click)="mixTitle=''">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                </mat-grid-tile>
            </mat-grid-list>

        </mat-card>
    </div>
</div>